footer{
    background-color: white;
    width: 100%;
}

footer a, footer p, footer b{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin: 2px 0;
}

footer a{
    color: #333;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer b{
    margin: 10px 0;
}

footer .inner_footer{
    width: 95%;
    max-width: 1690px;
    margin: auto;
}

footer .inner_footer h1{
    color: black;
}

footer .inner_footer .footer_top{
  display: flex;
  justify-content: space-between;
}

footer .inner_footer .footer_top > div{
    flex: 1;
}

footer .inner_footer .footer_top .socials{
    display: flex;
    justify-content: flex-end;
}

footer .inner_footer .footer_top .social_icons{
    display: flex;
    gap: 10px;
}

footer .inner_footer .footer_info{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3 - 10%);
    gap: 10%;
}

footer .inner_footer .footer_info > div{
    padding: 1% 5% 1% 0;
    display: flex;
    flex-direction: column;

}

footer .inner_footer .copyright_notice{
    display: flex;
    justify-content: center;
    text-align: center;
}

footer .inner_footer a i{
    font-size: 2rem;
}

@media screen and (max-width: 600px){
    footer .inner_footer .footer_info{
        display: block;
    }

    footer .inner_footer .footer_info > div{
        justify-content: center;
        margin: 10% 0;
    }
}