* {
    box-sizing: border-box;
}

.form_info{
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Um embaixo do outro */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container input{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="submit"]{
    background-color: #e2e2c5;
    color: #000;
    border: none;
}

input[type="submit"]:hover{
    background-color:#bebea1 ;
}

.form-group-1{
    flex: 1 1 100%;
}

